extends ../layout/page

block variables
    - var pageTitle = 'About page'

block links
    link(rel="stylesheet", href="sass/swiper-bundle.min.css")
    link(rel="stylesheet", href="../sass/main.css")

block content
    include ../inc/sections/_about__achievements


block scripts
    script(src="js/swiper-bundle.min.js")
    script(src="js/main.js")