extends ../layout/page

block variables
    - var pageTitle = 'Courses page'

block links
    link(rel="stylesheet", href="../sass/swiper-bundle.min.css")
    link(rel="stylesheet", href="../sass/main.css")

block content
    //    Courses page start
    section.courses.courses-page
        .container.courses__container
            //    Course start
            article.course
                .course__img
                    img(src="../img/course1.jpg", class="Course image")
                .course__info
                    h4.course__title Responsive social media website & UI design
                    p.course__text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est expedita, illo ipsum nemo rem saepe!
                    a(href="course.html", class="btn btn-primary course__link") Learn more
            //    Course end

            //    Course start
            article.course
                .course__img
                    img(src="../img/course2.jpg", class="Course image")
                .course__info
                    h4.course__title Responsive mobile & landing page design
                    p.course__text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est expedita, illo ipsum nemo rem saepe!
                    a(href="course.html", class="btn btn-primary course__link") Learn more
            //    Course end

            //    Course start
            article.course
                .course__img
                    img(src="../img/course3.jpg", class="Course image")
                .course__info
                    h4.course__title Responsive E-commerce mobile & website design
                    p.course__text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est expedita, illo ipsum nemo rem saepe!
                    a(href="course.html", class="btn btn-primary course__link") Learn more
            //    Course end

            //    Course start
            article.course
                .course__img
                    img(src="../img/course4.jpg", class="Course image")
                .course__info
                    h4.course__title Responsive social media website & UI design
                    p.course__text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est expedita, illo ipsum nemo rem saepe!
                    a(href="course.html", class="btn btn-primary course__link") Learn more
            //    Course end

            //    Course start
            article.course
                .course__img
                    img(src="../img/course5.jpg", class="Course image")
                .course__info
                    h4.course__title Responsive mobile & landing page design
                    p.course__text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est expedita, illo ipsum nemo rem saepe!
                    a(href="course.html", class="btn btn-primary course__link") Learn more
            //    Course end

            //    Course start
            article.course
                .course__img
                    img(src="../img/course6.jpg", class="Course image")
                .course__info
                    h4.course__title Responsive E-commerce mobile & website design
                    p.course__text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est expedita, illo ipsum nemo rem saepe!
                    a(href="course.html", class="btn btn-primary course__link") Learn more
            //    Course end

            //    Course start
            article.course
                .course__img
                    img(src="../img/course7.jpg", class="Course image")
                .course__info
                    h4.course__title Responsive social media website & UI design
                    p.course__text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est expedita, illo ipsum nemo rem saepe!
                    a(href="course.html", class="btn btn-primary course__link") Learn more
            //    Course end

            //    Course start
            article.course
                .course__img
                    img(src="../img/course8.jpg", class="Course image")
                .course__info
                    h4.course__title Responsive mobile & landing page design
                    p.course__text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est expedita, illo ipsum nemo rem saepe!
                    a(href="course.html", class="btn btn-primary course__link") Learn more
            //    Course end

            //    Course start
            article.course
                .course__img
                    img(src="../img/course9.jpg", class="Course image")
                .course__info
                    h4.course__title Responsive E-commerce mobile & website design
                    p.course__text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est expedita, illo ipsum nemo rem saepe!
                    a(href="course.html", class="btn btn-primary course__link") Learn more
            //    Course end

            //    Course start
            article.course
                .course__img
                    img(src="../img/course10.jpg", class="Course image")
                .course__info
                    h4.course__title Responsive social media website & UI design
                    p.course__text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est expedita, illo ipsum nemo rem saepe!
                    a(href="course.html", class="btn btn-primary course__link") Learn more
            //    Course end

            //    Course start
            article.course
                .course__img
                    img(src="../img/course11.jpg", class="Course image")
                .course__info
                    h4.course__title Responsive mobile & landing page design
                    p.course__text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est expedita, illo ipsum nemo rem saepe!
                    a(href="course.html", class="btn btn-primary course__link") Learn more
            //    Course end

            //    Course start
            article.course
                .course__img
                    img(src="../img/course12.jpg", class="Course image")
                .course__info
                    h4.course__title Responsive E-commerce mobile & website design
                    p.course__text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est expedita, illo ipsum nemo rem saepe!
                    a(href="course.html", class="btn btn-primary course__link") Learn more
            //    Course end

            //    Course start
            article.course
                .course__img
                    img(src="../img/course13.jpg", class="Course image")
                .course__info
                    h4.course__title Responsive mobile & landing page design
                    p.course__text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est expedita, illo ipsum nemo rem saepe!
                    a(href="course.html", class="btn btn-primary course__link") Learn more
            //    Course end

            //    Course start
            article.course
                .course__img
                    img(src="../img/course14.jpg", class="Course image")
                .course__info
                    h4.course__title Responsive E-commerce mobile & website design
                    p.course__text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est expedita, illo ipsum nemo rem saepe!
                    a(href="course.html", class="btn btn-primary course__link") Learn more
            //    Course end

            //    Course start
            article.course
                .course__img
                    img(src="../img/course15.jpg", class="Course image")
                .course__info
                    h4.course__title Responsive social media website & UI design
                    p.course__text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est expedita, illo ipsum nemo rem saepe!
                    a(href="course.html", class="btn btn-primary course__link") Learn more
            //    Course end

            //    Course start
            article.course
                .course__img
                    img(src="../img/course16.jpg", class="Course image")
                .course__info
                    h4.course__title Responsive mobile & landing page design
                    p.course__text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est expedita, illo ipsum nemo rem saepe!
                    a(href="course.html", class="btn btn-primary course__link") Learn more
            //    Course end

            //    Course start
            article.course
                .course__img
                    img(src="../img/course17.jpg", class="Course image")
                .course__info
                    h4.course__title Responsive E-commerce mobile & website design
                    p.course__text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est expedita, illo ipsum nemo rem saepe!
                    a(href="course.html", class="btn btn-primary course__link") Learn more
            //    Course end

            //    Course start
            article.course
                .course__img
                    img(src="../img/course18.jpg", class="Course image")
                .course__info
                    h4.course__title Responsive E-commerce mobile & website design
                    p.course__text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est expedita, illo ipsum nemo rem saepe!
                    a(href="course.html", class="btn btn-primary course__link") Learn more
            //    Course end
    //    Courses page end

block scripts
    script(src="../js/swiper-bundle.min.js")
    script(src="../js/main.js")