//    About page - Achievements section start
section.about__achievements
    .container.about__achievements-container
        // Achievements left start
        .about__achievements-left
            img(src="../img/about__achievements.svg", alt="Achievements image")
        // Achievements left end
        // Achievements right start
        .about__achievements-right
            h1.about__achievements-title Achievements
            p.about__achievements-text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda consequuntur cum dignissimos dolore, ea eius fugit illum iure labore magnam molestiae natus nemo nobis nostrum, numquam quo quos similique sit!
            .achievement__cards
                //    Achievement article start
                article.achievement__card
                    span.achievement__icon
                        i.uil.uil-video
                    h3.achievement__counter 450+
                    h4.achievement__heading Courses
                //    Achievement article end

                //    Achievement article start
                article.achievement__card
                    sh5an.achievement__icon
                        i.uil.uil-users-alt
                    h3.achievement__counter 79.000+
                    h4.achievement__heading Students
                //    Achievement article end

                //    Achievement article start
                article.achievement__card
                    span.achievement__icon
                        i.uil.uil-trophy
                    h3.achievement__counter 26
                    h4.achievement__heading Awards
                //    Achievement article end

        // Achievements right end

//    About page - Achievements section end
