//    About page - Team section start
section.about__team
    h2 Meet our team
    // Team container start
    .container.about__team-container
        //  Member start
        article.about__team-member
            .team__member-img
                img(src="../img/tm1.jpg", alt="Member image")

            .team__member-info
                h4.team__member-name Shatta Wale
                p.team__member-post Expert tutor
            .team__member-socials
                a(class="team__member-social", href="https://instagram.com", target="_blank")
                    i.uil.uil-instagram
                a(class="team__member-social", href="https://twitter.com", target="_blank")
                    i.uil.uil-twitter-alt
                a(class="team__member-social", href="https://linkedin.com", target="_blank")
                    i.uil.uil-linkedin-alt
        //  Member end

        //  Member start
        article.about__team-member
            .team__member-img
                img(src="../img/tm2.jpg", alt="Member image")

            .team__member-info
                h4.team__member-name Mia Jones
                p.team__member-post Expert tutor
            .team__member-socials
                a(class="team__member-social", href="https://instagram.com", target="_blank")
                    i.uil.uil-instagram
                a(class="team__member-social", href="https://twitter.com", target="_blank")
                    i.uil.uil-twitter-alt
                a(class="team__member-social", href="https://linkedin.com", target="_blank")
                    i.uil.uil-linkedin-alt
        //  Member end

        //  Member start
        article.about__team-member
            .team__member-img
                img(src="../img/tm3.jpg", alt="Member image")

            .team__member-info
                h4.team__member-name Diana Aul
                p.team__member-post Expert tutor
            .team__member-socials
                a(class="team__member-social", href="https://instagram.com", target="_blank")
                    i.uil.uil-instagram
                a(class="team__member-social", href="https://twitter.com", target="_blank")
                    i.uil.uil-twitter-alt
                a(class="team__member-social", href="https://linkedin.com", target="_blank")
                    i.uil.uil-linkedin-alt
        //  Member end

        //  Member start
        article.about__team-member
            .team__member-img
                img(src="../img/tm4.jpg", alt="Member image")

            .team__member-info
                h4.team__member-name John Dumelo
                p.team__member-post Expert tutor
            .team__member-socials
                a(class="team__member-social", href="https://instagram.com", target="_blank")
                    i.uil.uil-instagram
                a(class="team__member-social", href="https://twitter.com", target="_blank")
                    i.uil.uil-twitter-alt
                a(class="team__member-social", href="https://linkedin.com", target="_blank")
                    i.uil.uil-linkedin-alt
        //  Member end

        //  Member start
        article.about__team-member
            .team__member-img
                img(src="../img/tm5.jpg", alt="Member image")

            .team__member-info
                h4.team__member-name Ruth Shockings
                p.team__member-post Expert tutor
            .team__member-socials
                a(class="team__member-social", href="https://instagram.com", target="_blank")
                    i.uil.uil-instagram
                a(class="team__member-social", href="https://twitter.com", target="_blank")
                    i.uil.uil-twitter-alt
                a(class="team__member-social", href="https://linkedin.com", target="_blank")
                    i.uil.uil-linkedin-alt
        //  Member end

        //  Member start
        article.about__team-member
            .team__member-img
                img(src="../img/tm6.jpg", alt="Member image")

            .team__member-info
                h4.team__member-name Edem Quist
                p.team__member-post Expert tutor
            .team__member-socials
                a(class="team__member-social", href="https://instagram.com", target="_blank")
                    i.uil.uil-instagram
                a(class="team__member-social", href="https://twitter.com", target="_blank")
                    i.uil.uil-twitter-alt
                a(class="team__member-social", href="https://linkedin.com", target="_blank")
                    i.uil.uil-linkedin-alt
        //  Member end

        //  Member start
        article.about__team-member
            .team__member-img
                img(src="../img/tm7.jpg", alt="Member image")

            .team__member-info
                h4.team__member-name Menz Gold
                p.team__member-post Expert tutor
            .team__member-socials
                a(class="team__member-social", href="https://instagram.com", target="_blank")
                    i.uil.uil-instagram
                a(class="team__member-social", href="https://twitter.com", target="_blank")
                    i.uil.uil-twitter-alt
                a(class="team__member-social", href="https://linkedin.com", target="_blank")
                    i.uil.uil-linkedin-alt
        //  Member end

        //  Member start
        article.about__team-member
            .team__member-img
                img(src="../img/tm8.jpg", alt="Member image")

            .team__member-info
                h4.team__member-name Shatta Wale
                p.team__member-post Expert tutor
            .team__member-socials
                a(class="team__member-social", href="https://instagram.com", target="_blank")
                    i.uil.uil-instagram
                a(class="team__member-social", href="https://twitter.com", target="_blank")
                    i.uil.uil-twitter-alt
                a(class="team__member-social", href="https://linkedin.com", target="_blank")
                    i.uil.uil-linkedin-alt
        //  Member end

    // Team container end

//    About page - Team section end
