//    Categories section start
section.categories
    .container.categories__container
        .categories__left
            h1 Categories
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto assumenda, at corporis dolor dolore eos eveniet laborum mollitia omnis praesentium provident quaerat quam quasi quisquam recusandae repellat sed, tenetur ullam.
            a(href="#").btn Learn more
        .categories__right
            //    Category blockchain start
            article.category
                span.category__icon
                    i.uil.uil-bitcoin-circle

                h5.category__heading Blockchain
                p.category__text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad, totam.
            //    Category blockchain end

            //    Category Graphic design start
            article.category
                span.category__icon
                    i.uil.uil-palette

                h5.category__heading Graphic design
                p.category__text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad, totam.
            //    Category Graphic design end

            //    Category Finance start
            article.category
                span.category__icon
                    i.uil.uil-usd-circle

                h5.category__heading finance
                p.category__text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad, totam.
            //    Category Finance end

            //    Category Marketing start
            article.category
                span.category__icon
                    i.uil.uil-megaphone

                h5.category__heading Marketing
                p.category__text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad, totam.
            //    Category Marketing end

            //    Category Music start
            article.category
                span.category__icon
                    i.uil.uil-music

                h5.category__heading Music
                p.category__text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad, totam.
            //    Category Music end

            //    Category Business start
            article.category
                span.category__icon
                    i.uil.uil-puzzle-piece

                h5.category__heading Business
                p.category__text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad, totam.
            //    Category Business end
        //    Categories__right end
    //    categories__container end
//    Categories section end