//    Courses section start
section.courses
    h2 Our popular courses
    .container.courses__container
        //    Course start
        article.course
            .course__img
                img(src="img/course1.jpg", class="")
            .course__info
                h4.course__title Responsive social media website & UI design
                p.course__text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est expedita, illo ipsum nemo rem saepe!
                a(href="course.html", class="btn btn-primary course__link") Learn more
        //    Course end

        //    Course start
        article.course
            .course__img
                img(src="img/course2.jpg", class="")
            .course__info
                h4.course__title Responsive landing page design
                p.course__text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est expedita, illo ipsum nemo rem saepe!
                a(href="course.html", class="btn btn-primary course__link") Learn more
        //    Course end

        //    Course start
        article.course
            .course__img
                img(src="img/course3.jpg", class="")
            .course__info
                h4.course__title Responsive E-commerce website design
                p.course__text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est expedita, illo ipsum nemo rem saepe!
                a(href="course.html", class="btn btn-primary course__link") Learn more
        //    Course end

//    Courses section end
