//    FAQs section start
section.faqs
    h2 Frequently Asked Questions
    //    FAQs container start
    .container.faqs__container
        // FAq article start
        article.faq
            //    FAQ icon start
            .faq__icon
                i.uil.uil-plus
            //    FAQ icon end
            //    FAQ answer start
            .question__answer
                h4.faq__title How do I know the right course for me?
                p.faq__text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur aut delectus incidunt laboriosam nemo odit provident suscipit ut veniam vero! Commodi et iure laudantium libero minus molestiae quibusdam ratione repellendus.
            //    FAQ answer end
        // FAq article end

        // FAq article start
        article.faq
            //    FAQ icon start
            .faq__icon
                i.uil.uil-plus
            //    FAQ icon end
            //    FAQ answer start
            .question__answer
                h4.faq__title How do I know the right course for me?
                p.faq__text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur aut delectus incidunt laboriosam nemo odit provident suscipit ut veniam vero! Commodi et iure laudantium libero minus molestiae quibusdam ratione repellendus.
            //    FAQ answer end
        // FAq article end

        // FAq article start
        article.faq
            //    FAQ icon start
            .faq__icon
                i.uil.uil-plus
            //    FAQ icon end
            //    FAQ answer start
            .question__answer
                h4.faq__title How do I know the right course for me?
                p.faq__text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur aut delectus incidunt laboriosam nemo odit provident suscipit ut veniam vero! Commodi et iure laudantium libero minus molestiae quibusdam ratione repellendus.
            //    FAQ answer end
        // FAq article end

        // FAq article start
        article.faq
            //    FAQ icon start
            .faq__icon
                i.uil.uil-plus
            //    FAQ icon end
            //    FAQ answer start
            .question__answer
                h4.faq__title How do I know the right course for me?
                p.faq__text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur aut delectus incidunt laboriosam nemo odit provident suscipit ut veniam vero! Commodi et iure laudantium libero minus molestiae quibusdam ratione repellendus.
            //    FAQ answer end
        // FAq article end

        // FAq article start
        article.faq
            //    FAQ icon start
            .faq__icon
                i.uil.uil-plus
            //    FAQ icon end
            //    FAQ answer start
            .question__answer
                h4.faq__title How do I know the right course for me?
                p.faq__text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur aut delectus incidunt laboriosam nemo odit provident suscipit ut veniam vero! Commodi et iure laudantium libero minus molestiae quibusdam ratione repellendus.
            //    FAQ answer end
        // FAq article end

        // FAq article start
        article.faq
            //    FAQ icon start
            .faq__icon
                i.uil.uil-plus
            //    FAQ icon end
            //    FAQ answer start
            .question__answer
                h4.faq__title How do I know the right course for me?
                p.faq__text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur aut delectus incidunt laboriosam nemo odit provident suscipit ut veniam vero! Commodi et iure laudantium libero minus molestiae quibusdam ratione repellendus.
            //    FAQ answer end
        // FAq article end

        // FAq article start
        article.faq
            //    FAQ icon start
            .faq__icon
                i.uil.uil-plus
            //    FAQ icon end
            //    FAQ answer start
            .question__answer
                h4.faq__title How do I know the right course for me?
                p.faq__text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur aut delectus incidunt laboriosam nemo odit provident suscipit ut veniam vero! Commodi et iure laudantium libero minus molestiae quibusdam ratione repellendus.
            //    FAQ answer end
        // FAq article end

        // FAq article start
        article.faq
            //    FAQ icon start
            .faq__icon
                i.uil.uil-plus
            //    FAQ icon end
            //    FAQ answer start
            .question__answer
                h4.faq__title How do I know the right course for me?
                p.faq__text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur aut delectus incidunt laboriosam nemo odit provident suscipit ut veniam vero! Commodi et iure laudantium libero minus molestiae quibusdam ratione repellendus.
            //    FAQ answer end
        // FAq article end

        // FAq article start
        article.faq
            //    FAQ icon start
            .faq__icon
                i.uil.uil-plus
            //    FAQ icon end
            //    FAQ answer start
            .question__answer
                h4.faq__title How do I know the right course for me?
                p.faq__text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur aut delectus incidunt laboriosam nemo odit provident suscipit ut veniam vero! Commodi et iure laudantium libero minus molestiae quibusdam ratione repellendus.
            //    FAQ answer end
        // FAq article end

        // FAq article start
        article.faq
            //    FAQ icon start
            .faq__icon
                i.uil.uil-plus
            //    FAQ icon end
            //    FAQ answer start
            .question__answer
                h4.faq__title How do I know the right course for me?
                p.faq__text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur aut delectus incidunt laboriosam nemo odit provident suscipit ut veniam vero! Commodi et iure laudantium libero minus molestiae quibusdam ratione repellendus.
            //    FAQ answer end
        // FAq article end
    //    FAQs container end
        //    Course start
        article.course
//    FAQs section end
