//    Testimonials section start
section.testimonials
    //    Testimonials container start
    .container.testimonials__container.swiper.mySwiper
        h2 Students' testimonials
        .swiper-wrapper
            // testimonial article start
            article.testimonial.swiper-slide
                .avatar
                    img(src="./img/avatar1.jpg", alt="Author's avatar")
                .testimonial__info
                    h5.testimonial__author Diana Ayl
                    small.testimonial__position Student
                    p.testimonial__text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem culpa et mollitia quasi reiciendis repellendus vel veritatis voluptas? Mollitia, necessitatibus repudiandae. Ab assumenda consectetur fugit natus non recusandae similique voluptatum.
            // testimonial article end

            // testimonial article start
            article.testimonial.swiper-slide
                .avatar
                    img(src="./img/avatar2.jpg", alt="Author's avatar")
                .testimonial__info
                    h5.testimonial__author Ernest Achiever
                    small.testimonial__position Web developer
                    p.testimonial__text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem culpa et mollitia quasi reiciendis repellendus vel veritatis voluptas? Mollitia, necessitatibus repudiandae. Ab assumenda consectetur fugit natus non recusandae similique voluptatum.
            // testimonial article end

            // testimonial article start
            article.testimonial.swiper-slide
                .avatar
                    img(src="./img/avatar3.jpg", alt="Author's avatar")
                .testimonial__info
                    h5.testimonial__author Edem Quist
                    small.testimonial__position Student
                    p.testimonial__text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem culpa et mollitia quasi reiciendis repellendus vel veritatis voluptas? Mollitia, necessitatibus repudiandae. Ab assumenda consectetur fugit natus non recusandae similique voluptatum.
            // testimonial article end

            // testimonial article start
            article.testimonial.swiper-slide
                .avatar
                    img(src="./img/avatar4.jpg", alt="Author's avatar")
                .testimonial__info
                    h5.testimonial__author Mike Welder
                    small.testimonial__position Creative designer
                    p.testimonial__text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem culpa et mollitia quasi reiciendis repellendus vel veritatis voluptas? Mollitia, necessitatibus repudiandae. Ab assumenda consectetur fugit natus non recusandae similique voluptatum.
            // testimonial article end

            // testimonial article start
            article.testimonial.swiper-slide
                .avatar
                    img(src="./img/avatar5.jpg", alt="Author's avatar")
                .testimonial__info
                    h5.testimonial__author ohn Hill
                    small.testimonial__position Software developer
                    p.testimonial__text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem culpa et mollitia quasi reiciendis repellendus vel veritatis voluptas? Mollitia, necessitatibus repudiandae. Ab assumenda consectetur fugit natus non recusandae similique voluptatum.
            // testimonial article end

            // testimonial article start
            article.testimonial.swiper-slide
                .avatar
                    img(src="./img/avatar1.jpg", alt="Author's avatar")
                .testimonial__info
                    h5.testimonial__author Diana Ayl
                    small.testimonial__position Student
                    p.testimonial__text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem culpa et mollitia quasi reiciendis repellendus vel veritatis voluptas? Mollitia, necessitatibus repudiandae. Ab assumenda consectetur fugit natus non recusandae similique voluptatum.
            // testimonial article end
            // Swiper pagination
            .swiper-pagination
        //    Swiper wrapper end
    //    Testimonials container end
//    Testimonials section end


