extends layout/main

block variables
    - var pageTitle = 'WebSchool'

block links
    link(rel="stylesheet", href="sass/swiper-bundle.min.css")
    link(rel="stylesheet", href="sass/main.css")

block content
    include inc/sections/_categories

    include inc/sections/_courses

    include inc/sections/_faq

    include inc/sections/_testimonials

block scripts
    script(src="js/swiper-bundle.min.js")
    script(src="js/main.js")