@import "https://unicons.iconscout.com/release/v2.1.5/css/unicons.css";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  border: none;
  outline: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

body {
  font-family: "Montserrat", sans-serif;
  line-height: 1.7;
  color: #fff;
  background-color: #1f2641;
}

.container {
  width: 76%;
  margin: 0 auto;
}

section {
  padding: 6rem 0;
}

section h2 {
  margin-bottom: 4rem;
  text-align: center;
}

h1,
h2,
h3,
h4,
h5 {
  line-height: 1.2;
}

h1 {
  font-size: 2.4rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.6rem;
}

h4 {
  font-size: 1.3rem;
}

a {
  color: #fff;
}

img {
  display: block;
  width: 100%;
  object-fit: cover;
}

.btn {
  padding: 1rem 2rem;
  border: 1px solid transparent;
  font-weight: 500;
  background-color: #fff;
  color: #000;
  transition: all 0.4s ease-in-out;
}

.btn:hover {
  background-color: transparent;
  color: #fff;
}

.btn-primary {
  background-color: #f75842;
  color: #fff;
}

nav {
  position: fixed;
  top: 0;
  display: flex;
  width: 100vw;
  height: 5rem;
  z-index: 11;
  transition: all 0.4s ease-in-out;
}
nav.scrolled {
  background-color: #6c63ff;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.7);
}

.nav__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}
.nav__container button {
  display: none;
}

.nav__list {
  display: flex;
  align-items: center;
  gap: 4rem;
}

.nav__link {
  font-size: 0.9rem;
  transition: all 0.4s ease-in-out;
}
.nav__link:hover {
  color: #424890;
}

header {
  position: relative;
  top: 5rem;
  height: 70vh;
  margin-bottom: 5rem;
  overflow: hidden;
}

.header__container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 5rem;
  height: 100%;
}

.header__text {
  margin: 1rem 0 2.4rem;
}

.categories {
  height: 29rem;
  background-color: #2e3267;
}

.categories__container {
  display: grid;
  grid-template-columns: 40% 60%;
}

.categories__left {
  margin-right: 4rem;
}

.categories__left h1 {
  margin-bottom: 3rem;
  line-height: 1;
}

.categories__left p {
  margin: 1rem 0 3rem;
}

.categories__right {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.2rem;
}

.category {
  padding: 2rem;
  border-radius: 2rem;
  background-color: #424890;
  transition: all 0.4s ease-in-out;
}
.category:hover {
  box-shadow: 0 3rem 3rem rgba(0, 0, 0, 0.2);
}

.category:nth-child(2) .category__icon {
  background-color: #f75842;
}

.category:nth-child(3) .category__icon {
  background-color: #00bf8e;
}

.category:nth-child(4) .category__icon {
  background-color: #f7c94b;
}

.category:nth-child(5) .category__icon {
  background-color: #00bf8e;
}

.category__icon {
  padding: 0.7rem;
  border-radius: 0.9rem;
  background-color: #6c63ff;
}

.category__heading {
  margin: 2rem 0 1rem;
}

.category__text {
  font-size: 0.85rem;
}

.courses {
  margin-top: 10rem;
}

.courses__container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

.course {
  border: 1px solid transparent;
  text-align: center;
  background-color: #2e3267;
  transition: all 0.4s ease-in-out;
}
.course:hover {
  background-color: transparent;
  border-color: #6c63ff;
}

.course__info {
  padding: 2rem;
}

.course__text {
  margin: 1.2rem 0 2rem;
  font-size: 0.9rem;
}

/*# sourceMappingURL=main.css.map */
