//    Footer section start
footer
    .container.footer__container
        //    Footer block1 start
        .footer__block-1
            a(href="index.html", class="footer__logo-link")
                h4.footer__logo WebSchool
            p.footer__block1-text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore quia repudiandae sapiente?
        //    Footer block1 end

        //    Footer block2 start
        .footer__block-2
            h4 Permalinks
            ul.permalinks
                li.permalinks__item
                    a(href="index.html").permalink Home
                li.permalinks__item
                    a(href="pages/about.html").permalink About
                li.permalinks__item
                    a(href="pages/courses.html").permalink Courses
                li.permalinks__item
                    a(href="pages/contact.html").permalink Contact
        //    Footer block2 end

        //    Footer block3 start
        .footer__block-3
            h4 Privacy
            ul.privacy
                li.privacy__item
                    a(href="#").privacy__link Privacy policy
                li.privacy__item
                    a(href="#").privacy__link Terms and conditions
                li.privacy__item
                    a(href="#").privacy__link Refund policy
        //    Footer block3 end

        //    Footer block4 start
        .footer__block-4
            .footer__contacts
                h4 Contact us
                div
                    p
                        a +01 234 567 8910
                    p
                        a contactto@mail.com
                ul.footer__socials
                    li
                        a(href="#")
                            i.uil.uil-facebook-f
                    li
                        a(href="#")
                            i.uil.uil-instagram-alt
                    li
                        a(href="#")
                            i.uil.uil-twitter
                    li
                        a(href="#")
                            i.uil.uil-linkedin-alt
            //    Footer block4 end
    .footer_copyright
        small Copyright &copy;Egator 2022

//    Footer section end
