include _navbar
//    Header section start
header
    .container.header__container
        .header__left
            h1.header__title Grow your skills to advance your career path
            p.header__text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate debitis deleniti dicta incidunt magnam quis reiciendis unde. Consequatur, earum maiores.
            a.header__btn(href="pages/courses.html", class="btn btn-primary header__btn") Get started

        .header__right
            .header__right-img
                img(src="img/header.svg", alt="Header image")
//    Header section end
